<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.dgit.bigdata.mybatis_dev.dao.StudentMapper">
	<select id="findStudentById" parameterType="int" resultType="Student">
		 select stud_id, name, email, dob from students where stud_id=#{studId};
	</select>
	
	<insert id="insertStudent" parameterType="Student">
		insert into students(stud_id,name, email, phone, dob) values (#{studId},#{name}, #{email},#{phone}, #{dob});
	</insert>
</mapper>
