<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.dgit.bigdata.mybatis_dev.mappers.TutorMapper">
	<resultMap type="Tutor" id="tutorRes">
		<id property="tutorId" column="tutor_id"/>
		<result property="name" column="name"/>
		<result property="email" column="email"/>
		<result property="phone" column="phone"/>
		<collection property="course" resultMap="kr.or.dgit.bigdata.mybatis_dev.mappers.CourseMapper.CourRes"/>
	</resultMap>
	
	<select id="findTutorById" parameterType="int" resultMap="tutorRes">
		 select t.tutor_id, t.name, t.email, t.phone, c.course_id, c.name, c.description, c.start_date, c.end_date
		 from tutors t left outer join addresses a on t.addr_id=a.addr_id left outer join courses c on t.tutor_id=c.tutor_id where t.tutor_id=#{param1};
	</select>
</mapper>




